/.ipynb_checkpoints
/Corr.png
/dbfc-dataset-1.0
/dbfc-dataset-1.0.zip
/EDA 2.ipynb_ - JupyterLab.pdf
/Exercises.ipynb
/global_renewable_energy_production.csv
/house-prices-advanced-regression-techniques
/laptops.csv
/laptops.ipynb
/matches.csv
/matches.ipynb
/medical.csv
/micro+gas+turbine+electrical+energy+prediction
/micro+gas+turbine+electrical+energy+prediction.zip
/ML Intro.ipynb
/Oluwatosin Adebayo copy.ipynb
/Oluwatosin Adebayo.ipynb
/Oluwatosin_Joshua_Adebayo_Linear_Regression.ipynb
/Oluwatosin_Joshua_Adebayo_Linear_Regression_updated.ipynb
/Outliers.png
/Prod Avg.png
/Prod Sum.png
/Region.png
/Sales.png
/Simple Task (2).ipynb
/Simple Task.ipynb
/Test Task.ipynb
/Test.ipynb
/Time Series.png
/time_series_covid19_confirmed_global.csv
/used_cars_data.csv
/Water-Qual-Eau-TableDescriptions.csv